<h3><%= params[:id] %>. <%= @question.name %></h3>
<p><%= @question.content %></p>

<% answer_id_array = @question.answers.ids.shuffle %>
<% label_array = ["A","B","C","D","E","F","G","H","I","J","K"] %>
<% j = 0 %>

<%= form_tag do %>
<% for i in answer_id_array do %>
<%= radio_button_tag(:president, @question.answers.find(i).correct) %>
<%= label_tag(:president, label_array[j] + ". " + @question.answers.find(i).content) %>
<br><br>
<% j += 1 %>
<% end %>
<%= submit_tag "Answer" %>
<% end %>


<p><%= params[:id].class %></p>


