
<% if session[:points] != 0 and session[:points] %>
<p>You're name is <span><%= session[:name] %></span>
and you got <span><%= session[:points] %></span>
out of <span><%= Question.count %></span>.
</p>
<% else %>
<p>You should take the quiz!</p>
<% end %>


<%= link_to "Quiz", newquiz_path %>
<br><br><br><br>
<% if session[:points] == Question.count %>
<%= image_tag("tigger.jpg") %>
<% end %>