
<p>You took the quiz <span><%= Quiz.find(session[:quiz_id]).name %>.</span></p>
<p>You got <span><%= session[:points] %> out of <%= Quiz.find(session[:quiz_id]).questions.count %></span> correct.</p>

<% user_link = root_url + 'user/' + String(session[:user_id]) %>
<br>
<a href = "<%= user_link %>" >Back to Your Page</a>

<br><br><br><br>
<% if @medal == "none" %>
<p>You didn't earn a medal.</p>
<% else %>
<p>You earned a <%= @medal %> medal!</p>
<% end %>